{% extends "base.html" %}
{% block content %}
<h1>{{ variable.name }}</h1>
<a href="/var/{{ variable.name }}">Back</a>

<form id="metadataform" method="post">
   <textarea id="metadataform" name="description" cols="30" rows="10">
{{ variable.description }}
   </textarea>
   {% for mp in mappings %}
      <div class="mapping">
         <label for="{{ mp.id }}key">Key</label>
         <input id="{{ mp.id }}key" name="{{ mp.id }}_key" type="text" value="{{ mp.key }}">

         <label for="{{ mp.id }}value">Value</label>
         <input id="{{ mp.id }}value" name="{{ mp.id }}_value" type="text" value="{{ mp.value }}">
      </div>
   {% endfor %}
   <input type="submit">
</form>
{% endblock %}
